<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Divinskie</title>

    <link rel="stylesheet" type="text/css" href="css/javascript.fullPage.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link href="css/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/slider.css">
    <script src="js/multiSlider.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
 	  <script> 
	    $(function(){
	      $("#includedHeader").load("header/header.html"); 

	    });
	     $(function(){
	      $("#includedFooter").load("footer/footer.html"); 

	    });
    </script> 
    <style type="text/css">
    		.one-third {
			width: 28%;
			float: left;
			margin: 2% 0 3% 4%;
			text-align: center;
		}
		.one-third p{
			color:black;
			font-size: 16px;
		}
		section{
			background-color: white;
			border: rgba(0,0,0,0);
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		}
		#img{
			height: 165px;
			margin-top: 1%;

		}
		footer{
			background-color: #09090a;
			color:#fcfcfc;
			padding: 0;
			margin: 0;
			left: 0;
			right: 0;
		}
		.navbar-brand {
		  padding: 0px;
		}
		.navbar-brand>img {
		  height: 45px;
		  width: auto;
		  padding: 7px 14px;
		  position: relative;
		  top:0;
		}
		.card {
		    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		    transition: 0.3s;
		    width: 15%;
		    margin-left: 5%;
		}

		.card:hover {
		    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

		.ccontainer {
		    padding: 2px 16px;
		}
		.button2 {background-color: rgb(3, 96, 56);}
		.button {
	    border: none;
	    color: white;
	    padding: 10px 22px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 12px;
	    margin: 4px 2px;
	    cursor: pointer;
	}
    </style>

</head>

<body>
 		  	    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgb(3, 96, 56) !important">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a class="navbar-brand" href="admin.html"><img src="img/hlogo2.png" alt="logo"></a>


            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#firstPage">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

 	<div style="clear: both"></div>
 	 <div id="fullpage">
		<div class="section" id="section0">
			<!-- <div class="content">
				<div class="container">  -->
					  <div id="myCarousel" class="carousel slide" data-ride="carousel">
					   
					    <ol class="carousel-indicators">
					      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					      <li data-target="#myCarousel" data-slide-to="1"></li>
					      <li data-target="#myCarousel" data-slide-to="2"></li>
					    </ol>

					    
					    <div class="carousel-inner">
					      <div class="item active col-xl-12">
					        <img src="img/kani.jpg" class="img-responsive" style="width:100%;">
					      </div>

					      <div class="item col-xl-12">
					        <img src="img/slide2.jpeg" class="img-responsive" style="width:100%;">
					      </div>
					    
					      <div class="item col-xl-12">
					        <img src="img/slide4.jpg" class="img-responsive" style="width:100%">
					      </div>
					    </div>

					    
					    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style=" background-color:white;margin-left:0px !important">
					      <span class="glyphicon glyphicon-chevron-left" style="color:black !important"></span>
					      <span class="sr-only">Previous</span>
					    </a>
					    <a class="right carousel-control" href="#myCarousel" data-slide="next" style=" background-color:white;">
					      <span class="glyphicon glyphicon-chevron-right" style="color:black !important"></span>
					      <span class="sr-only">Next</span>
					    </a>
					  </div>
					</div>

		<!-- 	</div>
		</div> -->
		<div class="section" id="section1" style="background:rgb(161, 252, 247) !important;color:black !important">
			<div class="slide" id="slide1">
				<div class="content" >
					<img src="img/logo nlng.png" style="width:40%; height:auto;">
				</div>
			</div>
			<div class="slide" id="slide2">
				<div class="content" style="top:40% !important;">
					<h2 style="font-size:45px;">Appitizer</h2>
						<div class="card">
						  <img src="img/apit.jpg" alt="Avatar" style="width:100%;">
						  <div class="ccontainer">
						    <h4><b>Salmon Tartare</b></h4> 
						    <p style="font-size:10px;"><i>True North salmon, red tobiko, apples & cucumbers, avocado purée, chives, crispy wontons, mixed greens</i></p>
						    <p style="font-size:14px;color:green;"><b>245 php</b></p>
						    <!-- <input type="button" value="Buy" style="width:45px;"> -->
						  </div>
						</div>

				</div>
			</div>
			<div class="slide" id="slide2">
				<div class="content" style="top:40% !important;">
					<h2 style="font-size:45px;">Main Dish</h2>
					<div class="card">
					  <img src="img/main1.jpg" alt="Avatar" style="width:100%;">
					  <div class="ccontainer">
					    <h4><b>Filipino Ribs</b></h4> 
					    <p style="font-size:10px;"><i>Spareribs glazed with the sweet, tangy taste of the Philippines.</i></p>
					    <p style="font-size:14px;14px;color:green;"><b>350 php</b></p>
					    <!-- <input type="button" value="Buy" style="width:45px;"> -->
					  </div>
					</div>
				</div>
			</div>
			<div class="slide" id="slide2">
				<div class="content" style="top:40% !important;">
					<h2 style="font-size:45px;">Dessert</h2>
					<div class="card">
					  <img src="img/des.jpg" alt="Avatar" style="width:100%;">
					  <div class="ccontainer">
					    <h4><b>Chocolate Fudge Cake</b></h4> 
					    <p style="font-size:10px;"><i>This is our richest, chocolatiest, moistest cake ever. No one will be able to resist a slice. Recipe courtesy of Essentials Magazine.</i></p>
					    <p style="font-size:14px;color:green;"><b>150 php</b></p>
					    <!-- <input type="button" value="Buy" style="width:45px;"> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section2">

			<div class="content" style="top:9%;background-color:rgba(0,0,0,0.4)">
					<!-- SLIDER -->
								<div class="col-md-10 col-md-offset-1">
								<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
								  <div class="carousel-inner" style="background-color:rgba(0,0,0,0.2)">
								    <div class="item active">
								      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="img/cake1.jpg" class="img-responsive"></a></div>
								    </div>
								    <div class="item">
								      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="img/cake2.png" class="img-responsive"></a></div>
								    </div>
								    <div class="item">
								      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="img/cake3.jpg" class="img-responsive"></a></div>
								    </div>
								    <div class="item">
								      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="img/cake1.jpg" class="img-responsive"></a></div>
								    </div>
								    <div class="item">
								      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="img/cake2.png" class="img-responsive"></a></div>
								    </div>
								    <div class="item">
								      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="img/cake3.jpg" class="img-responsive"></a></div>
								    </div>
								    <div class="item">
								      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="img/cake1.jpg" class="img-responsive"></a></div>
								    </div>
								    <div class="item">
								      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="img/cake2.png" class="img-responsive"></a></div>
								    </div>
								  </div>
								  <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background-color:white; margin-left:0px !important;"><i class="glyphicon glyphicon-chevron-left" style="color:black !important"></i></a>
								  <a class="right carousel-control" href="#myCarousel" data-slide="next" style=" background-color:white;"><i class="glyphicon glyphicon-chevron-right" style="color:black !important;"></i></a>
								</div>
								</div>

					<!-- SLIDER -->
			</div>
			<div style="clear: both"></div>
			<div  style="margin-top:4%;">
				<section class="one-third" style="box-shadow:2px 4px 12px solid #b2abab !important;">
					<img src="img/cater.jpg" id="img" class="img-responsive col-md-12">
					<h2>Catering Services</h2>
					<p style="color:black !important;">
						We consider ourselves not only a caterer, but also a partner that will assist you during the process of conceptualizing, budgeting, planning, and on the day of your event.
					</p>
					<button class="button button2">Learn more!</button>
				</section>
				<section class="one-third" style="box-shadow:2px 4px 12px solid #b2abab !important;">
					<img src="img/Funeral.jpg" id="img" class="img-responsive col-md-12">
					<h2>Funeral Services</h2>
					<p style="color:black !important;">
						Reduce worry for loved ones with a pre-paid funeral plan and make financial,
						Funeral plans are a thoughtful, cost-effective way to cover tomorrow's funeral.
					</p>
					<button class="button button2">Learn more!</button>
				</section>
				<section class="one-third" style="box-shadow:2px 4px 12px solid #b2abab !important;">
					<img src="img/wed.jpg" id="img" class="img-responsive col-md-12">
					<h2>Wedding Event Services</h2>
					<p style="color:black !important;">
						As a professional wedding planner you can offer a range of wedding planner services to your clients or you can make the decision to stick to one level of planning.
					</p>
					<button class="button button2">Learn more!</button>
				</section>
			</div>
			<div style="clear: both"></div>

			<footer style="margin-top:1.4%;background-color:#09090a;">
				<div class="container" style="background-color:#09090a;">
					<section style="float:left;background-color:#09090a !important;margin-left:0 !important;">
						<ul style="margin-left:0 !important;">
							<li style="color:white !important;font-size:12px;">Poblacion, Cordova, Cebu</li>
							<li style="color:white !important;font-size:12px;">09229723668</li>
							<li style="color:white !important;font-size:12px;">vichondriasmaquilang@gmail.com</li>
						</ul>
					</section>
					<section style="float:left;background-color:#09090a !important;">
						
					</section>
					<section style="float:right;background-color:#09090a !important;margin-top:13px;margin-left:20px !important;">
							<a href="#" style=""><img src="img/fb.png" style="height:25px;padding:2px 5px;"></a>
							<a href="#" ><img src="img/tweet.png" style="height:25px;padding:2px 5px;"></a>
							<a href="#" ><img src="img/insta.png" style="height:25px;padding:2px 5px;"></a>
						</ul>
					</section>
				</div>
		</footer>
		</div>

	</div>
 	<script type="text/javascript" src="js/javascript.fullPage.js"></script>
	<script type="text/javascript">
		fullpage.initialize('#fullpage', {
			anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
			menu: '#menu',
			css3:true
		});

	</script>
	<script>
		$(document).ready(function(){
			$('.carousel[data-type="multi"] .item').each(function(){
			  var next = $(this).next();
			  if (!next.length) {
			    next = $(this).siblings(':first');
			  }
			  next.children(':first-child').clone().appendTo($(this));
			  
			  for (var i=0;i<4;i++) {
			    next=next.next();
			    if (!next.length) {
			        next = $(this).siblings(':first');
			    }
			    
			    next.children(':first-child').clone().appendTo($(this));
			  }
			});
			});
	</script>
 	
</body>

</html>
